{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<article class="loginform" id="page">
  <h2 style="text-align:center;">Login</h2>
  <hr>
<form method="POST" >
        {% csrf_token %}
        {{ form }}
        <button type="submit" style="width:30%;margin-top: 3%;margin-left: 10%;" class="form-control btn btn-success">login</button>
        <a  style="width:30%;margin-top: 3%;margin-right: 10%; float: right;" class="form-control btn btn-danger" href="{% url 'home' %}">
        Cancel
        </a> 
        <hr>
 By Submitting, you are accepting the <a href="">terms and conditions</a>      
    </form>
  </article>
{% endblock %}