{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<form class="loginform" >
<form method="POST">
<h2 style="text-align:center;">Login</h2>
<hr>
{% csrf_token %}
{{ form }}
 <button style="width:30%;margin-top: 3%;margin-left: 10%" type="submit" class="btn btn-success" >Login</button>
 <a  style="width:30%;margin-top: 3%;margin-right: 10%; float: right;" class="btn btn-danger" href="{% url 'home' %}">Cancel</a>
 <hr>
 By Submitting, you are accepting the <a href="">terms and conditions</a>
</form>
{% endblock %}