body {
    margin:0;
    background-color:whitesmoke;
  }
  
  .navbar {
    overflow: hidden;
    background-color:#f9f9f9;
  }

  .navbar a.active{
      color:white;
      background-color: rgb(190, 10, 10);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .navbar .icon {
    display: none;
  }
  #ar{
    margin-left:12%;
    margin-right:12%;
    margin-bottom:0%;
    padding:1px 16px;
    height:100%;
    background-color:rgba(255, 250, 250, 0.932);
    border-radius: 25px;
  }
  .dropdown-content a:hover {
    background-color: rgba(247, 154, 154, 0.589);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 #f{
   font-size: 30px;
 }
#btnlink{
  border: none;
  background-color: cadetblue;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#image{
  margin-left: 12%;

}
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    #f{
      font-size: 15px;
    }
    #image{
      size: 400px;
      margin-left: 5%;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
   
  }
 
  @media screen and (max-width: 600px) {
    .navbar{
       background-color:  rgb(190, 10, 10);
      }
    .navbar.responsive {
        position: relative;
        background-color: whitesmoke;
    }
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {position: relative;}
    .navbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  