body {
    margin:0;
    background-color:whitesmoke;
  }
 
  * {
    box-sizing: border-box;
  }
  #sname{
    text-align: center;     
  }
  .navbar { 
    overflow: hidden;
    background-color:#f9f9f9;
    box-shadow: 0 4px 10px -6px #000;
    z-index: 1;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .header {
    padding: 30px;
    text-align: center;
    background-color: #f9f9f9;  
  }
  #h{
    text-align: center;
    color: darkred;
    cursor: pointer;    
    font-family:"Comic Sans MS";
  } 
  #m{
    width: 50%;
    text-align: center;
    /* border: 1px solid darkred; */
  }
  .beforeHeader{
    background-image: url('images/back2.jpg');
    background-color: greenyellow;
    width: 100%;
    height: inherit;
    padding: 30px;
    text-align: center;
    height: 10%;
    background-size: 100%;
  }
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
    #foot {
    position: absolute;
    bottom: 0;
    width: 100%;  
    box-shadow: 0 2px 8px -1px black;
    background-color: grey;
    }
  .active{
      color:black;
      /* border-right:1px solid darkred ; */
      /* border-left: 1px solid darkred; */
      /* border-top: 1px solid darkred; */
      /* border-bottom: 1px solid darkred; */
      /* border: 1px solid darkred; */
  }
  .loginform{
    margin-left: 35%;
    margin-right: 40%;
    margin-top: 10%;
    box-shadow: 0 2px 8px -2px red;
    width: max-content;
    height: max-content;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 3%;
    display: block;
    border: 1px solid red;
    background-color: gainsboro
  }
  #cancel{
    width:40%;
    margin-top: 3%;
    height:40%;
    margin-right: 3%;
    text-align:center;
    background-color:red;
    float:right;
    color: white
  }
  .form-control{
    display: block;
    width: max-content;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .30rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    border-right: 2px solid darkred;
  }
  #b,#g{
    border-bottom: 2px solid darkred;    
    border-right: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: orange;
    border-left: 2px solid darkred;
    border-right:none;
    color:white;
  }
  #b:hover,#g:hover{
    border-top: 2px solid darkred;
    border-bottom:none;
    border-left:none;    
    color:white;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: left;
  }
  .navbar .icon {
    display: none;
  }
  
  #ar{
    margin-left:8%;
    margin-right:8%;
    margin-bottom:3%;
    padding:1px 16px;
    background-color:rgba(255, 250, 250, 0.932);
    box-shadow: 0 2px 8px -2px red;
    /*border-radius: 25px;*/
  }
  #in{
      margin-bottom: 5%;
      border:0.5px solid grey;
      border-radius: 25px;
  }
  #in:hover{
    box-shadow: 0  2px 10px -1px royalblue;
  }  
  #s{
    margin-top: 10%;
    margin-left:25%;
    margin-right:16%;
    width:40%;
    padding:1px 16px;
    background-color:rgba(255, 250, 250, 0.932);
    box-shadow: 0 2px 8px -2px red;
  }
  #in{
  position: relative;
  margin-right: 5%;
  width:30%;
  }
  #av{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5%;
    width: 100%;
    box-shadow: 0 2px 8px -1px darkred;
    background-image: url('images/back1.jpg');
    background-color: lightgray;
  }
  .dropdown-content a:hover {
    background-color: rgba(247, 154, 154, 0.589);
  }
  
 .dropdown:hover .dropdown-content {
    display: block;
  }
   #f{
   font-size: 30px;
   color:grey;
 }
#btnlink{
  border: none;
  background-color: cadetblue;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 2px 8px -3px blue;
  margin: 4px 2px;
  cursor: pointer;
}
#btn1{
  border: none;
  background-color: green;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 2px 8px -3px black;
  margin: 4px 2px;
  cursor: pointer;
}
#btn1:hover{
  box-shadow: 0 3px 8px 0px darkgreen;
  background-color: greenyellow;
  border-radius: 20px;
}
#btn2{
  border: none;
  background-color: darkred;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 2px 8px -3px black;
  margin: 4px 2px;
  cursor: pointer;
}
#btn2:hover{
  box-shadow: 0 3px 8px 0px darkred;
  background-color: red;
  border-radius: 20px;
}
#im{
  margin-left: 25%;
  border:5px solid red;
}
  @media screen and (max-width: 600px) {

    .loginform{
      width:80%;
    }  
    .navbar a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    #page-container{
      margin-top: 15%;
    }
    #f{
      font-size: 15px;
    }
    #ar{
      margin-bottom:10%;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
    .row::after{
      display: none;
    }
    .navbar a{
      border-left:none;
    }
    #b{
      border-left: 2px solid darkred;
      border-bottom: none;
    }
    #b:hover{
      border-top: none;
      border-left: none;
      border-right: 2px solid darkred;
    }
    #image{
      width:100px;
    }
  }
 
  @media screen and (max-width:600px){
   .navbar.responsive {
       position: relative;
       background-color: whitesmoke;
   }
   .navbar.responsive .icon {
     position: absolute;
     right: 0;
     top: 0;
   }

   .navbar.responsive .icon:focus-within .dropdown,
   .navbar.responsive .icon:focus .dropdown,
   .navbar.responsive .icon:hover .dropdown{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 5s, 5s, 1s;
   }
   .navbar.responsive a {
     float: none;
     display: block;
     text-align: left;
   }
   .navbar.responsive .dropdown {
     float: none;
   }
   .navbar.responsive .dropdown-content {
     position: relative;
    }
   .navbar.responsive .dropdown .dropbtn {
     display: block;
     width: 100%;
     text-align: left;
     
   }
  }
  