{% load staticfiles %}
<div class="card">
    <a href="" >
        <img src="{% static 'images/python.png' %}" class="card-img-top" alt="python3 logo">
    </a>   
        <div class="card-body">
          <h5 class="card-title">Python</h5>
          <p class="card-text">Learn about the most trending programming language.Python is a powerful high-level, 
object oriented programming language created by Guido van Rossum. 
<br>
Python has simple easy-to-use syntax which makes writing code fun.
</p>
          <a href="{% url 'python3' %}" class="btn btn-primary">Learn</a>
        </div>
      </div>
<!-- <div class="container">
<div class="row mb-5">
<div class="col-4 ml-1 order-4">
<div class="card" style="width: 25rem;">
  <img src="{% static 'images\python.png'%}" class="card-img-top" alt="python3">
  <div class="card-body">
    <h5 class="card-title">Python3</h5>
    <p class="card-text">Learn about the most trending programming language.</p>
    <center><a href="{% url 'python3' %}" class="btn btn-primary">Learn</a></center>
  </div>
</div>
</div>
<div class="col-6 mr-1 order-2">
Python is a powerful high-level, 
object oriented programming language created by Guido van Rossum. 
<br>
Python has simple easy-to-use syntax which makes writing code fun.
</div>
</div> -->