<div class="container" style="margin-left:4%">
        <h2 id="datatype" style="padding-top:100px">Datatype</h2>
        <p style="padding-bottom:50px">
        Unlike humans, a computer does not know the difference between "1234" and "abcd". 
        A data type is a classification that dictates what a variable or object can hold in computer programming. 
        Data types are an important factor in virtually all computer programming languages,
         including C#, C++, JavaScript, and Visual Basic. 
         When programmers create computer applications, both desktop and web-based,
         data types must be referenced and used correctly to ensure the proper result and an error-free program.
        </p>
        </div>