{% extends 'layout.html' %}
{% block content %}
<font size="5">
<article style="margin-top: 5%" id="ar">
<h2 style="color:green">
 First Step Towards Coding.
</h2>
Python have a very easy syntax to learn and is the best starting point for begginers in programming.
<hr>
<h3 style="color:orange">Let's start</h3>
<ol>
<li>open the cmd on windows or bash on linux.</li>
<li>write <code  style="background-color: black;color:white;border-radius: 0.7rem">>python</code> in the terminal.</li>
<li>it should start the python shell , if you have installed it correctly.</li>
<li>if not happening refer to the <a href="{% url 'python3' %}">how to install and configure</a>.</li> 
</ol>
 one most basic difference in pythonand other languages like C and C++ is that python 
 <u>does not require use of semicolon</u> for termination ofcoding statement and the 
 <u>indentation</u> in python is most important.So, Let's start with the 
 <u>most basic program</u> of any coding.
 <br>
<code  style="background-color: black;color:white;margin-left: 5%" id="ar">
>>>print("HelloWorld!!")
</code>
 <br>
 now try printing your name.
 <br>
 Now, when we have to define any <a href="{% url 'variable'%}">variable</a> in python its really easy.
 as there is no need to declare <a href="#">datatype</a> for variables.
 <br>
 <code style="background-color: black;color:white;margin-left: 5%" id="ar">>>>a="helloworld"</code><br>
 <code style="background-color: black;color:white;margin-left: 5%" id="ar">>>>b=1</code><br>
 <code style="background-color: black;color:white;margin-left: 5%" id="ar">>>>print(a)</code><br>
 <code style="background-color: black;color:white;margin-left: 5%" id="ar">>>>print(b)</code><br>
</article>
</font>
<div aria-label="Page navigation example mb-5">
  <ul class="pagination justify-content-center" style="margin-bottom: 8%; ">
    <li class="page-item">
      <a class="page-link" href="{% url 'python3' %}" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="{% url 'python3' %}">1</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'pyfirst' %}">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</div>

{% endblock %}