{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
<font id="f">
{% include 'layout/carousel.html' %}
<center><h2 >Tutorials Available</h2></center>
<div class="row  py-10">
  <div class="col-11 mx-auto">
<hr >
</div>
</div>
{% include 'layout/card.html' %}
<!-- <article id="ar"> -->

<!-- <h1 style="color:red">
Welcome
</h1>
This site contains tutorial that are provided by Janmejai Pandey,Founder of TutorialHero and its developer.
<br>
This site is made for the purpose of learning and teaching. 
</article>

<article id="av">
    <div style="margin-top:5%;">


<img class="img-fluid" src="{% static 'images\python.png'%}" align=right>
<div style="margin-left: 12%">Python is a powerful high-level, 
object oriented programming language created by Guido van Rossum. 
<br>
Python has simple easy-to-use syntax which makes writing code fun.
</div>
<center>
    <a href="{% url 'python3' %}">
    <button style="margin-bottom: 3%;"class="btn btn-info mb-5" id="btnlink">
        python3
    </button>
    </a>
</center>

</div>
</article> -->
</font>
{% endblock %}