{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Become Zero to Hero in Coding:TutotrialHero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/favicon-16x16.png'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
<div class="navbar" id="myNav">
 <a href="{% url 'home' %}" id="m" class="active" >TutorialHero</a>
  <div class="dropdown">
   <button id="b" class="dropbtn" >
    PYTHON
   </button>
   <div class="dropdown-content">
    <a href="{% url 'python3' %}">Python3</a>
    <hr style="width:65%">
    <a href="{% url 'numpy' %}">Numpy</a>
    <hr style="width:65%">
    <a  href="{% url 'pandas' %}">Pandas</a>
    </div>
   </div>
   <a id="b" href="{% url 'c' %}" >C</a>
   <a id="b"  href="{% url 'html' %}">HTML</a>
 <a id="b" href="{% url 'css' %}" >CSS</a>
 <a href="" style="font-size:17px;" class="icon" >&#9776;</a>
 {% if user.is_authenticated %}
 <a id="g" href="{% url 'logout' %}" style="float:right;">LogOut</a>
 <font size=4 style="float:right;margin-top: 1%;"> Hi {{ user.username }}!</font>
{% else %}
  <a id="g" href="{% url 'login' %}" style="float:right;">LogIn</a>
  <a id="g" href="{% url 'signup' %}" style="float:right;">SignUp</a>
{% endif %}
 
</div>
<div id="page-container">
<div id="content-wrap">
{% block content %}
{% endblock %}
</div>
<footer id="foot">
    &copy;-TutorialHero
    <br>
    All rights reserved.
    <br>
    <a style="cursor:pointer;color:darkslategray;"href="{% url 'about' %}">About</a>
</footer>
</div>
</body>
</html>