{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}  
<font id="f">
<h2 style="margin-left:12%;color:red ;">
   Python3 Tutorial
</h2>

<article id="ar">
   In this tutorial we are going to cover basic python.
   From absolute beginner who doesn't know how to write code.
   So don't worry we are going to cover from very basic to advanced.
   <br>
   <br>
   After completion of this tutorial you will be able code from zero to hero.
</article>

<h3 style="margin-left:12%;color:rgba(255, 51, 0, 0.932)">
   What is Python?
</h3>

<article id="ar">
      <img align="left" src="{% static 'images/python3.png' %}" >
   Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. 
  <br>
   Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together.
 <br>
   Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. 
  <br>
   The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed. 
 <br>
 <br>
 <a href="https://www.python.org">
    <button id="btnlink">
       Visit the python official website
     </button>
 </a>
</article>
<h3 style="margin-left:12%;color:rgba(255, 51, 0, 0.932)">
   Installing Python
</h3>
<article id="ar">
 For installing Python into your system .you have to download the intaller from official site.
 <br>
 Click on Download Python button to goto official page for downloading.
 <br>
 <a href="https://www.python.org/downloads/">
   <button id="btnlink">
      Download Python
    </button>
</a>
</article>
<h4 style="margin-left:12%;color:rgba(255, 51, 0, 0.932)">
   How to install Python?
</h4>
<article id="ar">
Click the Download Button above.
</article>
<div class="row">
   <div class="column">
<img id="im" style="margin-left: 12%;border:5px solid red;" src="{% static 'images/download_link.png' %}" >
   </div>
<div class="column">
<img id="im" style="margin-left: 12%;border:5px solid red;" src="{% static 'images/download.png' %}" >
</div>
</div>
</font>
{% endblock %}